[
    ( 
        package: "rupm", 
        version: "1.0.0",
    ),
    ( 
        package: "helloworld", 
        version: "1.0.0",
    ),
    (
        package: "discord-update-skip",
        version: "1.0.0",
    )
]